<footer>
  <section>
    <main>
      <div class="sec-1">
        <h3>About us</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Amet autem cum delectus dignissimos doloremque eos ex excepturi facilis hic inventore magni maxime mollitia!
        </p>
      </div>
      <div class="sec-2">
        <h3>Pages</h3>
        <a routerLink="/currency-converter"><mat-icon>arrow_right</mat-icon> Currency Converter</a>
        <a routerLink="/unit-converter"><mat-icon>arrow_right</mat-icon>Unit Converter</a>
      </div>
      <div class="sec-3">
        <h3>Share</h3>
        <div class="social">
          <a href=""><mat-icon>facebook</mat-icon></a>
          <a href=""><mat-icon>share</mat-icon></a>
          <a href=""><mat-icon>emoji_events</mat-icon></a>
        </div>
      </div>
    </main>

    <div class="copyright">
      <a href="">Developed By <span>Darko</span> © 2022.</a>
    </div>
  </section>
</footer>
