<section [@slideIn] fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex="70" fxFlex.xs="100">
    <app-shared-converter fxLayoutAlign="center center"
                          [items]="currencies"
                          [converterType]="'currency'"
                          [amount]="1"
                          [fromField]="'EUR'"
                          [toField]="'GBP'"
                          [name]="'Currency Converter'"
                          [convertedResults]="convertedResults">
    </app-shared-converter>
  </div>
</section>
