<section [@slideIn] fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex="40" >
    <mat-tab-group>
      <mat-tab label="Units Converter">
        <div class="tab">
          <app-shared-converter [items]="units"
                                [converterType]="'unit'"
                                [amount]="1"
                                [fromField]="'m'"
                                [toField]="'yd'"
                                [convertedResults]="convertedResults">
          </app-shared-converter>
        </div>
      </mat-tab>
      <mat-tab label="Add Unit">
        <div class="tab">
          <app-add-unit></app-add-unit>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
