<section [@slideIn] fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex="100" fxFlex.xs="100">
    <app-shared-converter fxLayoutAlign="center center"
                          [items]="units"
                          [converterType]="'unit'"
                          [amount]="1"
                          [fromField]="'m'"
                          [toField]="'yd'"
                          [name]="'Unit Converter'"
                          [convertedResults]="convertedResults">
    </app-shared-converter>
  </div>
</section>
