section {
  flex-direction: column;
  .title {
    margin-bottom: 30px;
    h1 {
      text-align: center;
    }
  }

  mat-card {
    padding: 20px;
  }

  .results {
    height: 0;
    opacity: 0;
    transition: ease .3s;
    width: 100%;

    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 10px;
      margin-bottom: 0;
      opacity: .8;
    }
  }

  .active {
    height: 100px !important;
    opacity: 1 !important;
  }
}



