@import "assets/styles/colors";

html, body { height: 100%; }

body {
  background-color: $gray;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.capitalize {
  text-transform: capitalize;
}

// Responsive mixins
@mixin for-phone-only {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet-only {
  @media (max-width: 800px) { @content; }
}

@mixin for-pc-only {
  @media (min-width: 1100px) { @content; }
}
